.nav {
  display: flex;
  justify-content: left;
}

.navlink {
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 20px;
}
